table {
   max-width: 95%;
   border: 1px solid #ccc;
}

th {
  background-color: #000000;
 color: #ffffff;
}

table tr:nth-child(odd) td{
   background-color: #FF0000;
}
table tr:nth-child(even) td{
    background-color: #00FFFF;
}